* {
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  padding: 0 1.5em;
  color: #ffff;
}

/* Typography */

  /* Headings */
  h1 {
    font-size: clamp(5.7rem, 2vw, 1rem);
  }

  h2 {
    font-size: clamp(4.7rem, 2vw, 1rem);
    display: none;
  }

  h3 {
    font-size: clamp(3.7rem, 2vw, 1rem);
    display: none;
  }

  h4 {
    font-size: clamp(2.7rem, 2vw, 1rem);
    display: none;
  }

  h5 {
    font-size: clamp(1.7rem, 2vw, 1rem);
    display: none;
  }

  h6 {
    font-size: clamp(1rem, 2vw, 1rem);
    display: none;
  }

  /* Paragraphs */
  p {
    font-size: clamp(1.7rem, 2vw, 1rem);
  }

  :root {
    /* Colors */
    --white-color: #ffff;
    --green-color: #4ee1a0;
    --dark-grey-color: #242424;
    --grey-color: #d9d9d9;
    --black-color: #151515;

    /* Image sizes */

    /* Icons sizes */
  }

/* End of Typography */


/* Hero Section */
  .hero{
    height: auto;
    width: 100%;
    padding: .2em;
  }

  /* Navbar */
  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Tablet View */
@media (max-width: 1024px) and (min-width: 768px) {
}

/* MOBILE VIEW */
@media (max-width: 768px) {

   

    
}
