* {
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  height: auto;
  max-width: 1200px;
  padding: .5em;
}

section{
  height: auto;
  width: 100%;
  margin-bottom: 5em;
}

.mobile-hr{
  display: none;
}



/* Typography */

  /* Headings */
  h1 {
    font-size: clamp(3.7rem, 2vw, 1rem);
  }
  h2 {
    font-size: clamp(2.7rem, 2vw, 1rem);
    font-weight: 200;
  }
  h3 {
    font-size: clamp(1.7rem, 2vw, 1rem);
  }
  

  /* Paragraphs */
  p {
    font-size: clamp(1.4rem, 2vw, 1rem);
    font-weight: 100;
    opacity: .5;
  }

  :root {
    /* Colors */
    --white-color: #ffff;
    --green-color: #4ee1a0;
    --dark-grey-color: #242424;
    --grey-color: #d9d9d9;
    --black-color: #151515;

    /* Image sizes */

    /* Icons sizes */
  }

/* End of Typography */


/* Desktop view */

/* Hero Section */
  .hero{
    height: auto;
    width: 100%;
    padding: .2em;
  }

  /* Navbar */
  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socials{
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }

  .mobile-profile, .tablet-profile{
    display: none;
  }
  /* End of Navbar */

  /* Main contents */
  .main-content{
    display: flex;
    margin-top: 3em;
  }
  .desktop-profile img{
    display: block;
    max-height: 45em;
  }
  .name{
    border-bottom: 3px solid #4ee1a0;
  }
  .description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/* End of Hero Section

/* Skills Section */
  .skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 4em;
  }
  .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* End of Skills Section/

 /* Projects Section */
    .project-list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
    }
    .project img{
      min-width: 100%;
      max-width: 70%;
      height: auto;
    }
    .projects .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .project #small-thumbnail{
      display: none;
    }
  /* End of Projects Section */

  /* Contacts Section */
    .contact{
      display: flex;
      gap: 2em;
    }
    .contact-description{
      max-width: 38em;
    }
    .contact-form{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .contact-form input, textarea{
      border: 0;
      border-bottom: 1px solid rgb(164, 34, 34);
      background-color: rgb(52, 54, 51, .5);
    }

    .button-container{
      display: flex;
      justify-content: flex-end;
    }
  /* End of Contacts Section */


/* Tablet View */
@media (max-width: 1024px) and (min-width: 768px) {
  /* Profile images */
  .tablet-profile{
    display: block;
  }
  .mobile-profile, .desktop-profile{
    display: none;
  }
  /* End of Profile images */

  /* Main content */
  .tablet-profile img{
    display: block;
    max-height: 35em;
  }
  .skills-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    
  }

  .project-images{
      padding: 0;
      max-width: 100%;
    }
  
  /* Contact Section */
    .contact{
      display: flex;
      flex-direction: column;
    }
    .contact-description{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  /* End of Contact Sextion */
}


/* MOBILE VIEW */
@media (max-width: 768px) {
  /* Navbar */
  nav{
    flex-direction: column;
  }
  
  .mobile-hr{
    display: block;
  }

  /* Hero Section */

    /* Profile images */
      .mobile-profile{
        display: block;
      }
      .tablet-profile, .desktop-profile{
        display: none;
      }
    /* End of Profile images */

    /* Main content */
      .main-content, .description{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .mobile-profile img{
        max-height: 25em;
      }
  /* End of Hero Section */
  
  /* Skills Section */
      .skills-list{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  /* End of Skills Section */


  /* Projects Section */
    .project-list{
      display: inline;
    }
    .project{
      width: 100%;
      align-items: flex-start;
      margin-top: 3em;
    }
    .project-images{
      padding: 0;
      max-width: 100%;
    }
    .project img{
      width: 100%;
      height: auto;
    }
    .project #large-thumbnail{
      display: none;
    }
    .project #small-thumbnail{
      display: block;
    }
    .project-skills, .select-options{
      display: flex;
      gap: 4em;
      padding: 0;
      margin-bottom: 2em;
    }
   
  /* End of Projects Section */


  /* End of Contacts Section */
    .contact{
      display: flex;
      flex-direction: column;
    }
    .contact-description{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  /* End of Contacts Section */

}
